[submodule "shape-producer"]
	path = shape-producer
	url = https://github.com/KIT-CMS/shape-producer.git
	branch = master
[submodule "datacard-producer"]
	path = datacard-producer
	url = https://github.com/KIT-CMS/datacard-producer.git
	branch = master
[submodule "jdl_creator"]
	path = jdl_creator
	url = git@github.com:KIT-CMS/jdl_creator.git
	branch = master
[submodule "datasets"]
	path = datasets
	url = git@github.com:KIT-CMS/datasets.git
	branch = master
